{% extends './base.html' %}
{% load crispy_forms_tags %}
{% load static %}
<!-- Setting up map and adding marker:   https://developers.google.com/maps/documentation/javascript/adding-a-google-map#maps_add_map-javascript -->

{% block content %}
<link rel="stylesheet" href="{% static 'css/addressDetail.css' %}">

<style>
    #map * {
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: all 0s ease;
    transition: none;
    }
</style>
<div class="addressDiv">
    <!--The div element for the map -->
    <div
        class="d-flex flex-column flex-md-row justify-content-center gap-4 align-items-center justify-content-md-between h-100 p-4">
        <div id="mapDiv" class="w-100 h-50" style="width: 50%; height: 50%; margin-top: 30px;">
            <div id="map" style="width: 100%; height: 500px;"></div>
        </div>
        {% if address != None %}
        <form action="{% url 'addressUpdate' pk=address %}" method="post" class="w-100">
            {% csrf_token %}
            {{ addressForm|crispy }}
            <input type="text" name="lat_lng" id="id_lat_lng" required hidden>
            <div class="buttonDiv">
                <button type="submit">Update</button>
                <button type="submit" name="removeAddress">Remove Address</button>
            </div>
        </form>
        {% else %}
        <form action="{% url 'addressCreate' %}" method="post" class="w-100 mt-5">
            {% csrf_token %}
            {{ addressForm|crispy }}
            <input type="text" name="lat_lng" id="id_lat_lng" value="None" hidden>
            <div class="buttonDiv"><button type="submit">Add Address</button></div>
        </form>
        {% endif %}
    </div>
</div>

<script>
    // Enter Your Maps API key in the src
    src="https://maps.googleapis.com/maps/api/js?key={Enter Your Maps API Key}&callback=initMap&v=weekly" 
    defer>
</script>
<script>
    // Initialize and add the map
    function initMap() {
        // textbox used to return lat lng of the marker set by user
        const latLngInput = document.getElementById("id_lat_lng");

        // The location of previously saved marker, if exists
        const markerPosition = { lat: parseFloat("{{ mLat }}"), lng: parseFloat("{{ mLng }}") };

        // The location of dubai
        let startPosition = { lat: 25.2048, lng: 55.2708 };

        // Checking if marker set previously. If set, init map and form accordingly
        if (parseInt("{{ mLat }}") != 0) {
            startPosition = markerPosition;
            latLngInput.value = "({{ mLat }}, {{ mLng }})";
        }

        // The map, centered at dubai
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 12,
            center: startPosition,
        });

        // Create an info window to share between markers.
        const infoWindow = new google.maps.InfoWindow();

        // Creating init marker, and setting location if previously saved marker location exists
        let marker = null;
        if (parseInt("{{ mLat }}") != 0) {
            marker = new google.maps.Marker({
                position: markerPosition,
                map: map,
                optimized: false,
            });
        }

        // Reference for adding marker onclick: https://stackoverflow.com/questions/15792655/add-marker-to-google-map-on-click
        google.maps.event.addListener(map, 'click', function (event) {
            if (marker != null) {
                marker.setMap(null);
            }
            marker = new google.maps.Marker({
                position: event.latLng,
                map: map,
                optimized: false,
            });
            latLngInput.value = event.latLng;
            // Add a click listener for each marker, and set up the info window.
            marker.addListener("mouseover", () => {
                infoWindow.close();
                infoWindow.setContent("{{ display }}" + event.latLng);
                infoWindow.open(marker.getMap(), marker);
            });
            marker.addListener("mouseout", () => {
                infoWindow.close();
            });
        });
    }
    // Creating the map
    window.initMap = initMap;
</script>


{% endblock content %}