/* Form CSS */

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  box-sizing: border-box;
}

.signHeader {
  font-weight: bold;
  margin: 0;
}

.signP {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.signSpan {
  font-size: 12px;
}

.signA {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.signButton {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.signButton:active {
  transform: scale(0.95);
}

.signButton:focus {
  outline: none;
}

.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

.checkoutForm {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.paymentForm {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.signInput {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.checkout-container {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 800px;
  max-height: 1200px;
  margin-top: 50px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.address-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.checkout-container.right-panel-active .address-container {
  transform: translateX(100%);
}

.payment-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.checkout-container.right-panel-active .payment-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.checkout-container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: #ff416c;
  background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.checkout-container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* padding: 0 40px; */
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(0);
}

.checkout-container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0%);
}

.checkout-container.right-panel-active .overlay-right {
  transform: translateX(0%);
}

/* Address Selection CSS */
.address_radio {
  z-index: -1;
  position: absolute;
  opacity: 0;
}
.address_radio:checked ~ label {
  border-color: var(--red);
  background-color: rgb(245, 179, 179);
  color: black;
}
.address_radio:checked ~ label:before {
  will-change: transform, border-width, border-color;
  animation: bubble 1s ease-in;
}
.address_radio:checked ~ label:after {
  will-change: opacity, box-shadow;
  animation: sparkles 700ms ease-in-out;
}
.address_radio:checked ~ label > span {
  will-change: transform;
  border: 0;
  background-image: linear-gradient(to top right, var(--red), #ffffff);
  animation: radio 400ms cubic-bezier(0.17, 0.89, 0.32, 1.49);
}
.address_radio:checked ~ label > span:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6px;
  height: 6px;
  border-radius: 10px;
  background-color: #fff;
}

.option label {
  position: relative;
  display: grid;
  grid-template-columns: 20px auto;
  grid-gap: 20px;
  width: 90%;
  height: auto;
  padding: 0 20px;
  border-radius: 6px;
  border: 2px solid transparent;
  background-color: transparent;
  transition: all 300ms ease-in;
  text-align: start;
}
.option label:hover {
  border-color: var(--red);
  background-color: rgb(245, 179, 179);
}
.option label:before,
.option label:after {
  position: absolute;
  left: 29px;
  border-radius: 50%;
  content: "";
}
.option label:before {
  margin: -2rem;
  border: solid 2rem #545461;
  width: 4rem;
  height: 4rem;
  transform: scale(0);
}
.option label:after {
  margin: -0.1875rem;
  width: 0.375rem;
  height: 0.375rem;
  box-shadow: 2.5rem * cos(-90deg) 0.375rem * cos(-30deg) 2.5rem * sin(-90deg)
      0.375rem * sin(-30deg) 0 -0.1875rem #ff8080,
    2.5rem * cos(-90deg) 0.375rem * cos(150deg) 2.5rem * sin(-90deg) 0.375rem *
      sin(150deg) 0 -0.1875rem #ffed80,
    2.5rem * cos(-38.5714285714deg) 0.375rem * cos(21.4285714286deg) 2.5rem *
      sin(-38.5714285714deg) 0.375rem * sin(21.4285714286deg) 0 -0.1875rem #ffed80,
    2.5rem * cos(-38.5714285714deg) 0.375rem * cos(201.4285714286deg) 2.5rem *
      sin(-38.5714285714deg) 0.375rem * sin(201.4285714286deg) 0 -0.1875rem #a4ff80,
    2.5rem * cos(12.8571428571deg) 0.375rem * cos(72.8571428571deg) 2.5rem *
      sin(12.8571428571deg) 0.375rem * sin(72.8571428571deg) 0 -0.1875rem #a4ff80,
    2.5rem * cos(12.8571428571deg) 0.375rem * cos(252.8571428571deg) 2.5rem *
      sin(12.8571428571deg) 0.375rem * sin(252.8571428571deg) 0 -0.1875rem #80ffc8,
    2.5rem * cos(64.2857142857deg) 0.375rem * cos(124.2857142857deg) 2.5rem *
      sin(64.2857142857deg) 0.375rem * sin(124.2857142857deg) 0 -0.1875rem #80ffc8,
    2.5rem * cos(64.2857142857deg) 0.375rem * cos(304.2857142857deg) 2.5rem *
      sin(64.2857142857deg) 0.375rem * sin(304.2857142857deg) 0 -0.1875rem #80c8ff,
    2.5rem * cos(115.7142857143deg) 0.375rem * cos(175.7142857143deg) 2.5rem *
      sin(115.7142857143deg) 0.375rem * sin(175.7142857143deg) 0 -0.1875rem #80c8ff,
    2.5rem * cos(115.7142857143deg) 0.375rem * cos(355.7142857143deg) 2.5rem *
      sin(115.7142857143deg) 0.375rem * sin(355.7142857143deg) 0 -0.1875rem #a480ff,
    2.5rem * cos(167.1428571429deg) 0.375rem * cos(227.1428571429deg) 2.5rem *
      sin(167.1428571429deg) 0.375rem * sin(227.1428571429deg) 0 -0.1875rem #a480ff,
    2.5rem * cos(167.1428571429deg) 0.375rem * cos(407.1428571429deg) 2.5rem *
      sin(167.1428571429deg) 0.375rem * sin(407.1428571429deg) 0 -0.1875rem #ff80ed,
    2.5rem * cos(218.5714285714deg) 0.375rem * cos(278.5714285714deg) 2.5rem *
      sin(218.5714285714deg) 0.375rem * sin(278.5714285714deg) 0 -0.1875rem #ff80ed,
    2.5rem * cos(218.5714285714deg) 0.375rem * cos(458.5714285714deg) 2.5rem *
      sin(218.5714285714deg) 0.375rem * sin(458.5714285714deg) 0 -0.1875rem #ff8080;
}
.option label > span {
  position: relative;
  display: inline-flex;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin-top: 20%;
  border: 2px solid #454861;
  background-image: linear-gradient(to bottom, #3b4059, #1c1e2d);
}

.text__row {
  display: grid;
  grid-template-columns: 54px 64px;
  grid-gap: 6px;
}
.text__row:last-of-type {
  grid-template-columns: 45px 54px;
  margin-top: 7px;
}
.text__loader {
  height: 13px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.4);
}
.option:not(:last-child) {
  margin-bottom: 4px;
}
@keyframes radio {
  0%,
  17.5% {
    transform: scale(0);
  }
}
@keyframes card {
  0% {
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.25);
    transform: scale(0.24);
  }
  45% {
    box-shadow: 0 12px 32px 0 rgba(0, 0, 0, 0.5);
    transform: scale(0.25);
  }
  100% {
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.4);
    transform: scale(0.24);
  }
}
@keyframes shine {
  from {
    transform: translateX(-70px) rotate(10deg);
  }
  to {
    transform: translateX(300px) rotate(10deg);
  }
}
@keyframes bubble {
  15% {
    transform: scale(1);
    border-color: #545461;
    border-width: 2rem;
  }
  30%,
  100% {
    transform: scale(1);
    border-color: #545461;
    border-width: 0;
  }
}
@keyframes sparkles {
  0%,
  10% {
    opacity: 0;
    transform: scale(0);
  }
  15% {
    opacity: 1;
    transform: scale(1.2) rotate(-20deg);
    box-shadow: 2rem * cos(-90deg) 0.375rem * cos(-30deg) 2rem * sin(-90deg)
        0.375rem * sin(-30deg) 0 0rem #ff8080,
      2rem * cos(-90deg) 0.375rem * cos(150deg) 2rem * sin(-90deg) 0.375rem *
        sin(150deg) 0 0rem #ffed80,
      2rem * cos(-38.5714285714deg) 0.375rem * cos(21.4285714286deg) 2rem *
        sin(-38.5714285714deg) 0.375rem * sin(21.4285714286deg) 0 0rem #ffed80,
      2rem * cos(-38.5714285714deg) 0.375rem * cos(201.4285714286deg) 2rem *
        sin(-38.5714285714deg) 0.375rem * sin(201.4285714286deg) 0 0rem #a4ff80,
      2rem * cos(12.8571428571deg) 0.375rem * cos(72.8571428571deg) 2rem *
        sin(12.8571428571deg) 0.375rem * sin(72.8571428571deg) 0 0rem #a4ff80,
      2rem * cos(12.8571428571deg) 0.375rem * cos(252.8571428571deg) 2rem *
        sin(12.8571428571deg) 0.375rem * sin(252.8571428571deg) 0 0rem #80ffc8,
      2rem * cos(64.2857142857deg) 0.375rem * cos(124.2857142857deg) 2rem *
        sin(64.2857142857deg) 0.375rem * sin(124.2857142857deg) 0 0rem #80ffc8,
      2rem * cos(64.2857142857deg) 0.375rem * cos(304.2857142857deg) 2rem *
        sin(64.2857142857deg) 0.375rem * sin(304.2857142857deg) 0 0rem #80c8ff,
      2rem * cos(115.7142857143deg) 0.375rem * cos(175.7142857143deg) 2rem *
        sin(115.7142857143deg) 0.375rem * sin(175.7142857143deg) 0 0rem #80c8ff,
      2rem * cos(115.7142857143deg) 0.375rem * cos(355.7142857143deg) 2rem *
        sin(115.7142857143deg) 0.375rem * sin(355.7142857143deg) 0 0rem #a480ff,
      2rem * cos(167.1428571429deg) 0.375rem * cos(227.1428571429deg) 2rem *
        sin(167.1428571429deg) 0.375rem * sin(227.1428571429deg) 0 0rem #a480ff,
      2rem * cos(167.1428571429deg) 0.375rem * cos(407.1428571429deg) 2rem *
        sin(167.1428571429deg) 0.375rem * sin(407.1428571429deg) 0 0rem #ff80ed,
      2rem * cos(218.5714285714deg) 0.375rem * cos(278.5714285714deg) 2rem *
        sin(218.5714285714deg) 0.375rem * sin(278.5714285714deg) 0 0rem #ff80ed,
      2rem * cos(218.5714285714deg) 0.375rem * cos(458.5714285714deg) 2rem *
        sin(218.5714285714deg) 0.375rem * sin(458.5714285714deg) 0 0rem #ff8080;
  }
}

/* Payment Portal */
:root {
  --color-background: #fae3ea;
  --color-primary: #fc8080;
  --font-family-base: Poppin, sans-serif;
  --font-size-h1: 1.25rem;
  --font-size-h2: 1rem;
}

* {
  box-sizing: inherit;
}

/* html {
    box-sizing: border-box;
  }
  
  body {
    background-color: var(--color-background);
    display: grid;
    font-family: var(--font-family-base);
    line-height: 1.5;
    margin: 0;
    min-block-size: 100vh;
    padding: 5vmin;
    place-items: center;
  } */

address {
  font-style: normal;
  text-align: start;
}

button {
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: var(--font-size-h1);
  line-height: 1.2;
  margin-block: 0 1.5em;
}

h2 {
  font-size: var(--font-size-h2);
  line-height: 1.2;
  margin-block: 0 0.5em;
}

legend {
  font-weight: 600;
  margin-block-end: 0.5em;
  padding: 0;
}

input {
  border: 0;
  color: inherit;
  font: inherit;
}

input.address_radio {
  accent-color: var(--color-primary);
}

table {
  border-collapse: collapse;
  inline-size: 100%;
}

tbody {
  color: #b4b4b4;
}

td {
  padding-block: 0.125em;
}

tfoot {
  border-top: 1px solid #b4b4b4;
  font-weight: 600;
}

.align {
  display: grid;
  place-items: center;
}

.button {
  align-items: center;
  background-color: var(--color-primary);
  border-radius: 999em;
  color: #fff;
  display: flex;
  gap: 0.5em;
  justify-content: center;
  padding-block: 0.75em;
  padding-inline: 1em;
  transition: 0.3s;
}

.button:focus,
.button:hover {
  background-color: #e96363;
}

.button--full {
  inline-size: 90%;
}

.card {
  border-radius: 1em;
  background-color: var(--color-primary);
  color: #fff;
  padding: 1em;
}

.form {
  display: grid;
  gap: 2em;
}

.form__radios {
  display: grid;
  gap: 1em;
}

.form__radio {
  align-items: center;
  background-color: #fefdfe;
  border-radius: 1em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.0625);
  display: flex;
  padding: 1em;
}

.form__radio label {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 1em;
}

.header {
  display: flex;
  justify-content: center;
  padding-block: 0.5em;
  padding-inline: 1em;
}

.icon {
  block-size: 1em;
  display: inline-block;
  fill: currentColor;
  inline-size: 1em;
  vertical-align: middle;
}

.iphone {
  background-color: #fbf6f7;
  background-image: linear-gradient(to bottom, #fbf6f7, #fff);
  border-radius: 2em;
  block-size: 812px;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.0625);
  inline-size: 375px;
  overflow: auto;
  padding: 2em;
}

tbody {
  display: flex;
  flex-direction: column;
}

tr {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

/* Add Address Button CSS */
.addAddress {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3b3b3b;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 20px;
  min-width: 0;
  outline: none;
  padding: 10px 18px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.addAddress::before {
  font-weight: bold;
  font-size: 20px;
  content: "\2b";
}

.addAddress:disabled {
  pointer-events: none;
}

.addAddress:hover {
  color: #fff;
  background-color: green;
  box-shadow: green 0 8px 15px;
  transform: translateY(-2px);
  border-color: green;
}

.addAddress:active {
  box-shadow: none;
  transform: translateY(0);
}
