/* The Quote Option Modal */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  justify-content: center;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}
/* Link for number and whatsapp */
.button-link {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 2vh;
}

.button-link a {
  text-decoration: none;
}

.button-link a button {
  display: inline;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
  text-align: right;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.insurance-img {
  height: 200px;
}

@media screen and (min-width: 992px) {
  .insurance-img {
    max-width: 500px;
    height: 400px;
  }
}

@media screen and (max-width: 576px) {
  .modal-content {
    width: 90%;
  }
}