.register_form_div {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 7%;
	margin-left: 10%;
	width: 700px;
	height: 640px;
    padding: 20px;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}

.form_field {
    display: flex;
    flex-direction: row;
    height: 100px;
}

#id_phone_number_0 {
    width: 60%;
	height: 35px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}

label {
    color: black;
	font-size: 0.9em;
	justify-content: center;
	display: flex;
	margin: 30px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}

input {
    width: 60%;
	height: 15px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}